@model CosmicCakes.Models.FeedbackItemsModel
@{
    ViewBag.Title = "Cosmic Cakes - Отзывы о нас";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/feedbackValidator.js" type="text/javascript"></script>

<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Оставить отзыв</h5>
            </div>
            <div class="container">
                @using (Html.BeginForm("SaveFeedback", "Feedback", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", id = "feedbackForm" }))
            {
                    <div class="modal-body">
                        @Html.Partial("FeedbackForm.partial", Model.LeftedFeedback)
                    </div>
                    <div class="modal-footer">
                        <div class="row centerd-content">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-default make-order-button" style="width:200px;">Отправить</button>
                            </div>

                            <div class="col-sm-6">
                                <button type="button" class="btn btn-default make-order-button" data-dismiss="modal" style="width:200px;">Закрыть</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:5px;">
    <div class="col-sm-12">
        <p style="font-family:Pushkin;font-size:3em;padding-left:80px;height:58px;padding-top:10px;letter-spacing:1px;">мы будем рады узнать ваше мнение</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12 centerd-content">
        <button type="button" class="btn btn-default make-order-button" style="width:380px;" data-toggle="modal" data-target="#orderModal">
            ОСТАВИТЬ ОТЗЫВ
        </button>
    </div>
</div>

@if (Model.UserFeedbacks.Any())
{
    foreach (var feedback in Model.UserFeedbacks)
    {
        var email = feedback.Email != null ? feedback.Email : null;

        <div class="row" style="margin-top:50px;">
            <div class="col-md-12"><p class="h3" style="margin-bottom:5px;"> @feedback.Author</p></div>
        </div>

        if (email != null)
        {
            <div class="row">
                <div class="col-md-12"><p style="color:#9c9c9c;margin:0;">@email</p></div>
            </div>
        }

        <div class="row">
            <div class="col-md-12"><p style="color:#9c9c9c;margin:0;">@feedback.CreateDate.ToShortDateString()</p></div>
        </div>

        <div class="row" style="margin-top:15px;">
            <div class="col-md-9"><p style="font-size:1.2em;color:#585858;">@feedback.Content</p></div>
            <div class="col-md-3 centerd-content"><img src="~/Content/Images/test_cake.jpg" style="width:200px;height:200px;" /></div>
        </div>
        <hr class="style-one" />
    }
}




