<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmic Cakes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="container">
        <div class="row centerd-content">
            <div class="col-md-12 centerd-content"><a href="@Url.Action("Index", "Home")"><img class="img-responsive img-thumbnail" src="~/Content/Images/Logo.jpg" /></a></div>
            <br/>
        </div>
        <script src="~/Scripts/bootstrap.js"></script>
    </div>
    <div class="container main-head-menu">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand"  data-target="#mainNavbar" style="float:left;">Cosmic Cakes</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" style="float:none;display: table;" id="mainNavbar">
                        <ul class="nav navbar-nav">
                            <li class="margined-right-item century-gothic-text" id="cakes"> <a href="@Url.Action("Index", "Cake")" style="font-size: 17px;">ТОРТЫ</a></li>
                            <li class="margined-right-item century-gothic-text" id="goCrawling"><a href="@Url.Action("Index", "Cupcake")" style="font-size: 17px;">КАПКЕЙКИ</a></li>
                            <li class="margined-right-item century-gothic-text" id="checkData"><a href="@Url.Action("Index", "Cookie")" style="font-size: 17px;">НАЧИНКИ И БИСКВИТЫ</a></li>
                            <li class="margined-right-item century-gothic-text" id="checkPrice"><a href="@Url.Action("Index", "Price")" style="font-size: 17px;">ЗАКАЗ</a></li>
                            <li class="margined-right-item century-gothic-text" id="checkData"><a href="@Url.Action("Index", "About")" style="font-size: 17px;">ОБО МНЕ</a></li>
                        </ul>
                </div>
            </div>
        </nav>
    </div>
        <div class="container">
                @RenderBody()
        </div>

       
</body>
</html>
