@model CosmicCakes.Models.OrderModel
@using (Html.BeginForm("MakeOrder", "Cake", new { Id = Model.Id }, FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", id = "orderForm"}))
{
    <div class="row" style="margin-top:10px;">

        <div class="col-sm-6">

            <div class="col-sm-3">
                <label>Имя</label>
            </div>

            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.CustomerName, htmlAttributes: new { style = "width:100%;margin:0;", placeholder = "Имя", type = "text", @class = "form-control" })
                <p style="color: red;">@Html.ValidationMessageFor(m => m.CustomerName)</p>
            </div>

        </div>

        <div class="col-sm-6">

            <div class="col-sm-3">
                <label>Телефон</label>
            </div>

            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.CustomerPhoneNumber, htmlAttributes: new { type = "tel", @class = "form-control" })
                <p style="color: red;">@Html.ValidationMessageFor(m => m.CustomerPhoneNumber)</p>
            </div>

        </div>
        
    </div>

    <div class="row" style="margin-top:10px;">

        <div class="col-sm-6">

            <div class="col-sm-3">
                <label>Вес торта (кг)</label>
            </div>

            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.CakeWeight, htmlAttributes: new { placeholder = "Вес", @class = "form-control" })
                <p style="color: red;">@Html.ValidationMessageFor(m => m.CakeWeight)</p>
            </div>

        </div>

        <div class="col-sm-6">

            <div class="col-sm-3">
                <label>Дата,на которую нужен тортик</label>
            </div>

            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.ExpireDateString, htmlAttributes: new { placeholder = "Дата", id = "datePicker", type = "text", @class = "form-control" })
                <p style="color: red;">@Html.ValidationMessageFor(m => m.ExpireDateString)</p>
            </div>

        </div>
               
    </div>
    <div class="row" style="margin-top:10px;">

        <div class="col-sm-12">

            <div class="col-sm-1">
                <label>Комментарий к заказу</label>
            </div>

            <div class="col-sm-11">
                @Html.TextAreaFor(m => m.Comments, htmlAttributes: new { placeholder = "Ваш комментарий...", @class = "form-control", rows = "3" })
            </div>

        </div>

    </div>
            
    <div class="row" style="margin-top:50px;">
        <div class="col-sm-12 centerd-content">
            <button class="btn btn-default make-order-button" type="submit">Хочу этот тортик</button>
        </div>
    </div>
}

