@model CosmicCakes.Models.FastOrderModel

<div class="row">
    <div class="col-sm-6">
        <label>Что готовим?</label>
    </div>

    <div class="col-sm-6">
        @Html.DropDownListFor(m => m.SelectedSweetName, Model.SweetNames.Select(item => new SelectListItem() { Text = item, Value = item }), new {@class = "form-control" })
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <label>Сколько(шт/кг)?</label>
    </div>

    <div class="col-sm-6">
        @Html.TextBoxFor(m=>m.CakeStringWeightOrItemsCount, new {@class="from-control" })
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <label>Когда?</label>
    </div>

    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.ExpireDateString, htmlAttributes: new { placeholder = "Дата", id = "datePicker", type = "text", @class = "form-control" })
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <label>Ваше имя:</label>
    </div>

    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.CustomerName, new {placeholder="Имя", @class = "from-control" })
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <label>Ваш телефон:</label>
    </div>

    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.CustomerPhoneNumber, new { @class = "from-control" })
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <label>Комментарий:</label>
    </div>

    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.Comments, new { @class = "from-control" })
    </div>
</div>


  