@model CosmicCakes.Models.UserFeedbackModel
@using (Html.BeginForm("SaveFeedback", "Feedback", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", id = "feedbackForm" }))
{
    <div class="row" style="margin-top:30px;">
        <div class="col-sm-2">
            <label>Имя</label>
        </div>
        <div class="col-sm-6">
            @Html.TextBoxFor(m => m.Author, htmlAttributes: new { placeholder = "Имя",  @class = "form-control"})
            <p style="color: red;">@Html.ValidationMessageFor(m => m.Author)</p>
        </div>
    </div>

    <div class="row" style="margin-top:30px;">
        <div class="col-sm-2">
            <label>Email</label>
        </div>
        <div class="col-sm-6">
            @Html.TextBoxFor(m => m.Email, htmlAttributes: new { placeholder = "Email", @class = "form-control" })
            <p style="color: red;">@Html.ValidationMessageFor(m => m.Email)</p>
        </div>
    </div>

    <div class="row" style="margin-top:30px;">
        <div class="col-sm-2">
            <label>Что Вы о нас думаете?</label>
        </div>
        <div class="col-sm-6">
            @Html.TextAreaFor(m => m.Content, htmlAttributes: new { placeholder = "Ваш отзыв",@class = "form-control" })
            <p style="color: red;">@Html.ValidationMessageFor(m => m.Content)</p>
        </div>
    </div>

    <div class="row" style="margin-top:30px;">
        <div class="col-sm-offset-2 col-sm-6">
            <button class="btn btn-default make-order-button" type="submit">Оставить отзыв</button>
        </div>
    </div>
}

