@model CosmicCakesWebApp.Models.CreateCakePageModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="alert alert-success alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    Здесь Вы можете выбрать ингридиенты и  посчитать стоимость тортика
</div>
@using (Html.BeginForm("Order", "Price", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-xs-4 col-md-4 col-lg-4 col-sm-4">
            <label>Вес тортика (кг):</label>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
            @Html.EditorFor(md => md.CakeWeight, new {  htmlAttributes = new { @class = "form-control",@title = "Укажите вес тортика",@name = "CakeWeight" } })
            @Html.ValidationMessageFor(md=>md.CakeWeight)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-4 col-md-4 col-lg-4 col-sm-4">
            <label>Выберите бисквит:</label>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
            <div class="dropdown">
                <select id="bisquit" class="form-control" data-toggle="tooltip" title="Если вы хотите разные бисквиты - пишите в дополнение" name="BisquitType">
                    @foreach (var item in Model.Bisquit)
                    {
                        <option>@item</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-4 col-md-4 col-lg-4 col-sm-4">
            <label>Выберите начинку:</label>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
            <select id="fillings" class="form-control" data-toggle="tooltip" title="В дополнии можно указать и несколько начинок" name="FillingType">
                @foreach (var item in Model.Filling)
                {
                    <option>@item</option>
                }
            </select>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-4 col-md-4 col-lg-4 col-sm-4">
            <label>Выберите ягоды:</label>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
            <div class="button-group">
                
                <div class="checkbox">
                    <ul style="list-style:none;">
                        @foreach (var item in Model.Berries)
                        {
                            <li><input type="checkbox" name="SelectedBerries" value="@item" />&nbsp;@item</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    @*<div class="row">
        <div class="col-md-offset-4 col-xs-2 col-md-2 col-lg-2 col-sm-2">
            <label>Выберите вид декора:</label>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
            <select class="form-control">
                @foreach (var item in Model.Decorations)
                {
                    <option>@item</option>
                }
            </select>
        </div>
    </div>
    <br />*@
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
            <textarea id="comments" class="form-control" rows="5" cols="400" placeholder="Дополнения к тортику" name="Comments"></textarea>
        </div>
    </div>
    <br />
    
    <br />
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button id="calculate" type="button" class="btn btn-primary" data-toggle="tooltip" title="Приблизительная стоимость, ведь Вы можете что-то добавить">Примерная стоимость</button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <input type="submit" class="btn btn-primary" value="Отправить заказ" /> 
        </div>
    </div>
    
}
<script>
    (function ($) {
        //var options = { title: '<img src="/Content/Images/img_2_307x307.jpg" width = 100px height = 100px />', placement: "right", html: true };
        var options = { placement: "right"};
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip(options);
            $("#checkPrice").addClass("active");
        });
    })(jQuery);
</script>


