@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaKeyWords = "Cosmicakes,торт,заказать,Нора,Голубева,Nora,Golubeva,на,спб,санкт-петербург,дешево,капкейки,кондитер,ягода,cosmic,cakes,оформить,кондитерская";
    ViewBag.Description = "COSMIC CAKES|Торты и другие сладости на заказ в Санкт-Петербурге";
    ViewBag.Title = "Cosmic Cakes - Домашняя страница";
}


<div class="row" style="margin-top: 25px;">
    <div class="col-xs-3 col-md-3 col-lg-3"><a href="@Url.Action("Index","Cake")"><img src="~/Content/Images/StartPage/start_page_cake_1.jpg" class="img-responsive" alt="Торт на заказ от Cosmic Cakes" /></a></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><a href="@Url.Action("Index","CupCake")"><img src="~/Content/Images/StartPage/start_page_cake_2_2.jpg" class="img-responsive" alt="Капкейки на заказ от Cosmic Cakes" /></a></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><a href="@Url.Action("Index","Price")"><img src="~/Content/Images/StartPage/start_page_cake_3.jpg" class="img-responsive" alt="Заказ на сайте Cosmic Cakes" /></a></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><a href="@Url.Action("Index","About")"><img src="~/Content/Images/StartPage/start_page_cake_4.jpg" class="img-responsive" alt="Бисквиты, начинки и крема от Cosmic Cakes" /></a></div>
</div>

<div class="row">
    <div class="col-xs-3 col-md-3 col-lg-3 centered-text"><hr class="style-one"/><a href="@Url.Action("Index","Cake")" class="ubuntu-text-start-page">ТОРТЫ</a></div>
    <div class="col-xs-3 col-md-3 col-lg-3 centered-text"><hr class="style-one" /><a href="@Url.Action("Index","CupCake")" class="ubuntu-text-start-page">КАПКЕЙКИ</a></div>
    <div class="col-xs-3 col-md-3 col-lg-3 centered-text"><hr class="style-one" /><a href="@Url.Action("Prices","Home")" class="ubuntu-text-start-page">КАК ЗАКАЗАТЬ</a></div>
    <div class="col-xs-3 col-md-3 col-lg-3 centered-text"><hr class="style-one" /><a href="@Url.Action("Index","About")" class="ubuntu-text-start-page">ОБО МНЕ</a></div>
</div>
<div class="row" style="margin-top: 50px;">
    <div class="col-md-12 centered-text" style="background-color: black; color: white;"><br />
        <p class="ubuntu-big-text">FOR THE LOVE OF CAKES</p>
    </div>
</div>
<div class="row" style="margin-top: 60px;">
    <div class="col-sm-6 centered-text">
        <p class="instagram-logo">Instagram</p>
        <p class="instagram-nickname">@@cosmicakes</p>
            <iframe id="insta" src="https://snapwidget.com/embed/342438" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no"></iframe>
            <script src="https://snapwidget.com/js/snapwidget.js" async></script>
    </div>
    <div class="col-sm-6 centered-text">
        <p class="instagram-logo">Welcome</p>
        <p class="instagram-nickname">в мое сладкое королевство</p>
        <p class="start-page-info-brief">
            Я - Нора. Здесь вы сможете найти<br /> все мои работы и выбрать для себя тот самый десерт<br />
            +7 (906) 255 88 10<br />
            golubevanora1@gmail.com 
         </p>
       <img src="~/Content/Images/StartPage/start_page_welcome_img.jpg"style="margin-bottom:27px;margin-top:15px;" alt="Добро пожаловать в Cosmic Cakes"/>
        <a href="@Url.Action("Index","Cake")" class="btn btn-default want-cake-button">ХОЧУ ТОРТ</a>
    </div>
</div>
<script>
    (function ($) {
        if (Modernizr.touch) {
            $('#insta').attr('width', '200');
            $('#insta').attr('height', '200');
        } else {
            $('#insta').attr('width', '456');
            $('#insta').attr('height', '456');
        }
    })(jQuery);
</script>


       









