@model CosmicCakes.Models.CakePartsModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaKeyWords = "торт,заказ,спб,кондитер,дешево,санкт-петербург,ягода,сладости,cosmicakes,cosmic,cakes,начинки,крем,бисквит,Нора,Голубева,Nora,Golubeva";
    ViewBag.Description = "Всевозможные начинки, крема и бисквиты для тортов";
    ViewBag.Title = "Cosmic Cakes - Бисквиты,начинки и крема";
}

<div class="row"style="margin-top:20px;">
    <div class="col-md-4 centered-text">
        <div><p class="ubuntu-big-text">Бисквиты</p></div>
        <hr class="style-one"/>
        <ul class="ui-accordion">
            @foreach (var bisq in Model.Bisquits)
            {
                <li class="list-group">
                   <h3 style="font-family: 'Century Gothic'; letter-spacing: 3px;"> @bisq.Type</h3>
                    <div style="display: none;font-family:'Open Sans',sans-serif;">@bisq.Description</div>
                </li>

            }
        </ul>
    </div>

    <div class="col-md-4 centered-text">
        <div><p class="ubuntu-big-text">Начинки</p></div>
        <hr class="style-one" />
        <ul class="ui-accordion">
            @foreach (var filling in Model.Fillings)
            {
                <li class="list-group">
                    <h3 style="font-family: 'Century Gothic'; letter-spacing: 3px;">@filling.Type </h3>
                    <div style="display: none;font-family:'Open Sans',sans-serif;">@filling.Description</div>
                </li>
            }
        </ul>
    </div>

    <div class="col-md-4 centered-text">
        <div><p class="ubuntu-big-text">Крем</p></div>
        <hr class="style-one" />
        <ul class="ui-accordion">
            @foreach (var cream in Model.Creams)
            {
                <li class="list-group">
                    <h3 style="font-family: 'Century Gothic'; letter-spacing: 3px;">@cream.Type </h3>
                    <div style="display: none;font-family:'Open Sans',sans-serif;">@cream.Description</div>
                </li>
            }
        </ul>
    </div>
</div>
<script>
    (function ($) {
        $(document).ready(function () {
            $('#cakeParts').addClass("active");
        });
    })
        (jQuery);
</script>
<script src="~/Scripts/accordion.js" type="text/javascript" async> </script>


