@model CosmicCakes.Models.NewsSubscribeModel

@{
    ViewBag.Title = "Подписка на новости от Cosmic Cakes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ValidationSummary(true)
<div class="row" style="margin-top:50px;">
    <div class="col-sm-12">
        <div class="subscribe-text">
            На этой страничке Вы можете подписаться на новости от кондитерской Cosmic Cakes.
            Подписавшись на рассылку, Вы всегда будете знать об акциях и новых экспериментах на моей кухне.<br />
            <strong>Для оформления подписки заполните форму ниже</strong>
        </div>
    </div>
    <hr class="style-one" style="margin-top:50px;margin-bottom:30px;" />
</div>
@using (Html.BeginForm("SubscribeForNews", "News", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", id = "subscribeForm" }))
{
    <div class="row">
        <div class="col-sm-12">

            <div class="row" style="margin-top:10px;">
                <div class="col-sm-1">
                    <label>Имя: </label>
                </div>
                <div class="col-sm-3 input-group">
                    @Html.TextBoxFor(m => m.Name, htmlAttributes: new { @class = "form-control", aria_describedby = "sizing-addon2" })
                    @Html.ValidationMessageFor(m=>m.Name)
                </div>

                <div class="col-sm-1">
                    <label>Отчество: </label>
                </div>
                <div class="col-sm-3 input-group">
                    @Html.TextBoxFor(m => m.Patronymic, htmlAttributes: new { @class = "form-control", aria_describedby = "sizing-addon2" })
                    @Html.ValidationMessageFor(m => m.Patronymic)
                </div>

            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-sm-1">
                    <label>Email: </label>
                </div>
                <div class="col-sm-7 input-group">
                    @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "form-control", aria_describedby = "sizing-addon2" })    
                    <p style="color:red">@Html.ValidationMessageFor(m => m.Email)</p>               
                </div>
                
            </div>

        </div>
    </div>
      
        <div class="row" style="margin-top:50px;">
            <div class="col-sm-12 centerd-content">
                <button class="btn btn-default make-order-button" type="submit">Подписаться на рассылку</button>
            </div>
        </div>
}
<script>
    (function ($) {
        $(document).ready(function () {
            $('#subscribe').addClass("active");
        });
    })
        (jQuery);
</script>
<script type="text/javascript" src="~/Scripts/SubscribeValidator.js"></script>
