@model CosmicCakes.Models.CakeInfoModel
@{
    ViewBag.Title = "CakeInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var itemActivator = 0;
    var indicatorCounter = 0;
    var numberSrcAddon = 0;
}

<div class="row century-gothic-text">

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div id="CakeCarousel" class="carousel slide hundred-widthed-item" data-ride="carousel">
        
        <ol class="carousel-indicators">
            @foreach (var image in Model.IndividualRectangleImagesPaths)
            {
                if (indicatorCounter == 0)
                {
                    <li data-target="#CakeCarousel" data-slide-to="@indicatorCounter" class="active"></li>
                }
                else
                {
                    <li data-target="#CakeCarousel" data-slide-to="@indicatorCounter"></li>
                }
                indicatorCounter++;
            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @foreach (var image in Model.IndividualRectangleImagesPaths)
            {
                itemActivator++;
                if (itemActivator == 1)
                {
                    <div class="item active">
                        <img src="@image" height="300">
                    </div>
                }
                else
                {
                    <div class="item">
                        <img src="@image" height="300">
                    </div>
                }

            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#CakeCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#CakeCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
    <br />
    <div class="row">
        @foreach (var image in Model.IndividualSquareImagesPaths)
        {
            numberSrcAddon++;
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <img id="sqimg" src="@image" class="img-responsive" data-addon ="@numberSrcAddon"/>
            </div>
        }
    </div>

</div>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cake-info-font-size">
    <div class="centered-text-heading">@Model.Name</div>
    <br />
    <div>@Model.Description</div>

    <p style="color: gray; font-size: 20pt;">от @Model.MinPrice р.</p>

    <ul>
        <li>@Model.KgPrice р/кг</li>
        <li>минимальный вес: @Model.MinWeight кг</li>
        <li>
            максимальный вес: @Model.MaxWeight кг
            @if (Model.IsLevelable)
            {
                <p style="font-size:small">(т.е. 1 ярус, но у вас всегда есть возможность заказать 2 или даже 3 яруса) </p>
            }
        </li>
    </ul>
    <strong>В стоимость входит:</strong>
    <div>
        <ul>
            @foreach (var includement in Model.PriceIncludements)
            {
                <li>@includement</li>
            }
        </ul>
    </div>
    <br />
    <div class="justified-text century-gothic-text">
        Дополнительно двухъярусный торт можно украсить живыми цветами. Они предают невероятную легкость и красоту каждому торту, особенно на свадебное торжество.  (укажите в комментариях, все согласуем по телефону)
        Не волнуйтесь, все стебли, соприкасающиеся с тортом, изолируют и дезинфицируют.
    </div>
</div>
</div>
<br/>
       <br/>
<div class="row">
    <div class="col-md-12">
        <div class="justified-text century-gothic-text">
            Каждый торт упакован в красивую коробку и украшен лентой.
            Также вы можете выбрать топпер на торт - табличку с пожеланиями, отличная замена шоколадной надписи на торте, смотрится более эффектно (:<br />
            Обратите внимание, что мы можем изменить какой-нибудь вид ягод в оформлении в связи с отсутствием ее в магазине (или в связи с ненадлежащим качеством).<br />
            <strong>Пожалуйста, предупреждайте по поводу пищевой аллергии на продукты.</strong>
        </div>
    </div>
</div>
<script>
    (function($) {
      
    })(jQuery);
</script>
   




