@model List<CosmicCakes.Models.CakesStartPageModel>
@{
    ViewBag.Title = "Cosmic Cakes - Наши торты";
    ViewBag.MetaKeyWords = "торт,заказ,спб,кондитер,дешево,санкт-петербург,ягода,сладости,cosmicakes,cosmic,cakes,выбор,капкейк,Нора,Голубева,Nora,Golubeva";
    ViewBag.Description = "Выбирайте торт,который Вам по душе!";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sectionCounter = 0;
}
@foreach (var cake in Model)
{

    if (sectionCounter % 2 == 0)
    {
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fader" style="padding-right: 0;padding-left:0;" id="cakeImagesSetEven">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 changing-images-set" style="padding-right: 0;padding-left: 0;">
                    <a class="showCake" data-cakeid="@cake.Id">
                        <img id="cakeImageFirst" src="@cake.ImagePaths.ElementAt(0)" class="img-responsive" style="display: block;" alt="Выбрать торт от Cosmic Cakes" />
                        <img id="cakeImageSecond" src="@cake.ImagePaths.ElementAt(1)" class="img-responsive" alt="Купить торт в Cosmic Cakes" />
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 changing-images-set" style="padding-left: 0; padding-right: 0;">
                    <a class="showCake" data-cakeid="@cake.Id">
                        <img id="cakeImageThird" src="@cake.ImagePaths.ElementAt(2)" class="img-responsive" style="display: block;" alt="Вкусный торт от Cosmic Cakes" />
                        <img id="cakeImageFourth" src="@cake.ImagePaths.ElementAt(3)" class="img-responsive" alt="Отличный торт" />
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 centered-text" id="cakeInfoSet" style="padding-right:0;padding-left:0;">
                <div id="text-container">
                    <a class="cake-name century-gothic-text showCake" data-cakeid="@cake.Id">@cake.Name</a>
                    <div id="briefCake">
                        @cake.Description
                        <br/>
                        <p class="price"> от @cake.MinPrice р.</p>
                    </div>
                </div>
                <div class="childBackground" style="background-image: url(@cake.BackgroundImagePath)"></div>
            </div>
        </div>
    }
    else if (sectionCounter % 2 != 0)
    {
        <div class="row">
            
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 centered-text" style="padding-right:0;">
                <div id="text-container">
                    <a class="cake-name century-gothic-text showCake" data-cakeid="@cake.Id">@cake.Name</a>
                    <div id="briefCake">
                        @cake.Description
                        <br/>
                        <p class="price"> от @cake.MinPrice р.</p>
                    </div>
                </div>
                <div class="childBackground" style="background-image: url(@cake.BackgroundImagePath)"></div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fader" style="padding-left: 0;padding-right:0;" id="cakeImagesSetOdd">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 0; padding-left: 0;">
                    <a class="showCake" data-cakeid="@cake.Id">
                        <img id="cakeImageFirst" src="@cake.ImagePaths.ElementAt(0)" class="img-responsive" style="display: block;" alt="Кондитерская cosmicakes.ru" />
                        <img id="cakeImageSecond" src="@cake.ImagePaths.ElementAt(1)" height="300" class="img-responsive" alt="Торт в кондитерской" />
                    </a>
                </div>
                <div id="changingImagesSet" class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0; padding-right: 0;">
                    <a class="showCake" data-cakeid="@cake.Id">
                        <img id="cakeImageThird" src="@cake.ImagePaths.ElementAt(2)" class="img-responsive" style="display: block;" alt="Вкусные начинки,крем и бисквиты" />
                        <img id="cakeImageFourth" src="@cake.ImagePaths.ElementAt(3)" class="img-responsive" alt="Добро пожаловать на cosmicakes.ru" />
                    </a>
                </div>
            </div>
        </div>
    }
     sectionCounter++;
}

<script>
    (function ($) {
        $(document).ready(function () {
            $('#cakes').addClass("active");
            $('a.showCake').click(function () {
                var cakeId = $(this).data("cakeid");
                window.location.href = "/cake/" + cakeId;
            });
            if(!Modernizr.touch)
            {
                $('div#text-container').css('margin-top', '50px');
            }
        });
    })
        (jQuery);
</script>
<script src="~/Scripts/cakeNameHoverProcessor.js"> </script>
<script src="~/Scripts/imageAutomaticSlider.js"> </script>
