@model CosmicCakes.DAL.Entities.SimpleReadyCake
@{
    ViewBag.Title = "CakeInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row century-gothic-text">

<div class="col-md-6">
    <div id="CakeCarousel" class="carousel slide hundred-widthed-item" data-ride="carousel">
        
        <ol class="carousel-indicators">
            <li data-target="#CakeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#CakeCarousel" data-slide-to="1"></li>
            <li data-target="#CakeCarousel" data-slide-to="2"></li>
            <li data-target="#CakeCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/Content/Images/img_13_307x30.jpg" height="300" alt="Chania">
            </div>

            <div class="item">
                <img src="/Content/Images/img_10_307x30.jpg" height="300" alt="Chania">
            </div>

            <div class="item">
                <img src="/Content/Images/img_12_307x30.jpg" height="300" alt="Flower">
            </div>

            <div class="item">
                <img src="/Content/Images/img_11_307x30.jpg" height="300" alt="Flower">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#CakeCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#CakeCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>

<div class="col-md-6 cake-info-font-size">
    <div class="centered-text-heading">@Model.Name</div>
    <br />
    <div>@Model.Description</div>

    <p style="color: gray; font-size: 20pt;">от @Model.MinPrice р.</p>

    <ul>
        <li>@Model.KgPrice р/кг</li>
        <li>минимальный вес: @Model.MinWeight кг</li>
        <li>
            максимальный вес: @Model.MaxWeight кг
            @if (Model.IsLevelable)
            {
                <p style="font-size:small">(т.е. 1 ярус, но у вас всегда есть возможность заказать 2 или даже 3 яруса) </p>
            }
        </li>
    </ul>
    <strong>В стоимость входит:</strong>
    <ul>
        <li>Любой бисквит и начинка в нижний ярус</li>
        <li>Любой бисквит и начинка в верхний ярус</li>
        <li>Шоколадные или карамельные подтеки - на ваш выбор</li>
        <li>Покрытие белым или цветным кремом  - на ваш выбор (укажите в комментариях к заказу цвет крема; белый крем по умолчанию)</li>
        <li>Венок Венок / полумесяц / горка (+500р.)  из ягод (клубника, голубика, ежевика, красная смородина, малина, кумкват)</li>
        <li>При оформлении венком - шоколадная надпись (укажите в комментариях к заказу)</li>
    </ul>
</div>
</div>
<br/>
    <div class="row">
        <div class="col-md-6" style="display: inline;">
            <div class="row">
                <div class="col-md-3"><img src="/Content/Images/img_9_307x30.jpg" class="img-responsive hundred-widthed-item-changer" height="104" width="104" /></div>
                <div class="col-md-3"><img src="/Content/Images/img_9_307x30.jpg" class="img-responsive hundred-widthed-item-changer" height="104" width="104" /></div>
                <div class="col-md-3"><img src="/Content/Images/img_9_307x30.jpg" class="img-responsive hundred-widthed-item-changer" height="104" width="104" /></div>
                <div class="col-md-3"><img src="/Content/Images/img_9_307x30.jpg" class="img-responsive hundred-widthed-item-changer" height="104" width="104" /></div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="justified-text century-gothic-text">
                Дополнительно двухъярусный торт можно украсить живыми цветами. Они предают невероятную легкость и красоту каждому торту, особенно на свадебное торжество.  (укажите в комментариях, все согласуем по телефону)
                Не волнуйтесь, все стебли, соприкасающиеся с тортом, изолируют и дезинфицируют.
            </div>
        </div>
    </div>
       <br/>
    <div class="row">
        <div class="col-md-12">
            <div class="justified-text century-gothic-text">
                Каждый торт упакован в красивую коробку и украшен лентой.
                Также вы можете выбрать топпер на торт - табличку с пожеланиями, отличная замена шоколадной надписи на торте, смотрится более эффектно (:<br />
                Обратите внимание, что мы можем изменить какой-нибудь вид ягод в оформлении в связи с отсутствием ее в магазине (или в связи с ненадлежащим качеством).<br />
                <strong>Пожалуйста, предупреждайте по поводу пищевой аллергии на продукты.</strong>
            </div>
        </div>
        </div>
   




