@model IEnumerable<CosmicakesControlWebApp.Models.Orders.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Заказчик</th>
            <th>Телефон</th>
            <th>Торт</th>
            <th>Вес</th>
            <th>Дата создания заказа</th>
            <th> Заказ на дату</th>
            <th>Действия</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.CustomerName</td>
                <td><div class="row"><div class="col-sm-12"><a href="tel:@order.CustomerPhoneNumber">@order.CustomerPhoneNumber</a></div></div></td>
                <td>@order.CakeName</td>
                <td>@order.CakeWeight</td>
                <td>@order.OrderDate.ToShortDateString()</td>
                <td>@order.ExpireDate.ToShortDateString()</td>
                <td>
                    <div class="row">
                        <div class="col-sm-6">
                            <button onclick="ShowDetails(@order.Id)">Детали</button>
                        </div>
                        <div class="col-sm-6">
                            <button data-orderId="@order.Id" id="removeOrder">Удалить</button>
                        </div>
                    </div>
                </td>
            </tr>
            var Id = "orderDetails" + order.Id;
            <tr id="@Id" style="display:none;">

                <td>Ярусы:@order.SelectedLevels</td>

                @if (order.SelectedLevels > 1)
                {
                    if (order.CustonBisquits)
                    {
                        <td>
                            Бисквиты:<br />
                            1 ярус:@order.FirstLevelBisquit<br />
                            2 ярус:@order.SecondLevelBisquit<br />
                            3 ярус: @order.ThirdLevelBisquit
                        </td>
                    }
                    else
                    {
                        <td>
                            Бисквит:<br />
                            @order.SelectedMultiLevelBisquit
                        </td>
                    }
                }
                else if (order.SelectedLevels == 1)
                {
                    <td>
                        Бисквит:<br />
                        @order.SelectedOneLevelBisquit
                    </td>
                }                
                    <td>
                        Доставка:@order.DeliveryAdress
                    </td>
                <td>Комментарии:@order.Comments</td>
                <td colspan="3" style="text-align:center;vertical-align:central;">
                    <div class="row">
                        <div class="col-sm-12">
                            <button onclick="HideDetails(@order.Id)" id="detail">Скрыть детали</button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
        (function ($) {
            $(document).ready(function () {
                $('button#removeOrder').click(function(){
                    var ordId = $(this).data('orderid');
                    $.ajax({
                        type:'post',
                        url: '@Url.Action("AjaxDeleteOrder","Order")',
                        data: { id: ordId },
                        error: function (xhr) {
                            alert(xhr.statusCode);
                        },
                        success: function()
                        {
                            window.location.href = "/order/index";
                        }
                    });
                })              
            });
        })(jQuery);
    </script>

<script>
    function ShowDetails(id) {
        $('tr#orderDetails' + id).removeAttr('style');
    }
</script>

<script>
    function HideDetails(id)
    {
        $('tr#orderDetails' + id).css('display','none');
    }
</script>



